header {
    background-color: darkblue;
}

.main-header {
    background-color: darkblue;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}