.header-nav {
    display: flex;
    background-color: var(--primary-dark);
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link:hover {
    background-color: var(--accent-bright);
    color: var(--primary-dark);
}

