.user {
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.user:last-child {
  margin-bottom: 0;
}

.avatar {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  margin: 0;
}

.description {
  margin: auto;
  padding: 1rem;
  width: 80%;
}

.username {
  color: orange;
}

.excerpt {
  margin: 0;
}
